---
---
$spacing-unit: 20px;
$on-palm: 600px;
$on-laptop: 800px;

@import 'bootstrap';
/*@import "font-awesome-sprockets";*/
/*@import 'font-awesome';*/

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

body {
	display: flex;
	flex-wrap: wrap;
	
	@include media-query($on-palm) {
		flex-direction: column;
	}
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	
	@include media-query($on-palm) {
		padding-right: $spacing-unit / 2;
		padding-left: $spacing-unit / 2;
	}
}

body > header.site-header {
	flex: 1 0 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid $gray-lighter;
	background-image: url('/images/header.png');
	background-size: cover;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		div {
			margin-left: 10px;

			h1 {
				flex: 1 0 100%;
				margin-bottom: 5px;

				a {
					color: $gray;
				}
			}

			p {
				background: $gray;
				color: #fff;
				padding: 4px;
			}
		}
	}

	@include media-query($on-palm) {
		flex: 1 0 auto;
	}
}

body > header.cover-photo {
	height: 100vh;
	width: 100vw;
	padding: 300px 0 0 100px;;
	background-color: #333;
	background-size: cover;
	border: 0;

	h1 {
		font-size: 40px;
		color: #fff;
		background-color: $gray;
		padding: 4px;
		display:inline;
	}
}

.page-content {
	flex: 1 0 70%;
	@include media-query($on-palm) {
		flex: 1 0 auto;
	}

	article {
		padding-bottom: 25px;
		border-bottom: 2px solid $gray-lighter;
	}
}

aside {
	flex: 1 0 30%;

	padding: 30px 0 0 0;
	.social-media-list {
		list-style: none;
		margin-left: 0;

		.icon svg {
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
		}
	}

	.sidebar-module {
		padding: 15px;
		background-color: $gray-lighter;
		
		ul {
			padding: 0;
			display: flex;

			li {
				margin-right: 10px;
			}
		}
	}

	.tj-info {
		display: flex;
		flex-wrap: wrap;
		order: 1;
		padding-bottom: 30px;

		img {
			border: 6px solid $gray;
		}

		div {
			margin-left: 10px;

			h1 {
				flex: 1 0 100%;
				margin: 0 0 5px 0;

				a {
					color: $gray;
				}
			}

			p {
				background: $gray;
				color: #fff;
				padding: 4px;
			}
		}
	}
	@include media-query($on-palm) {
		flex: 1 0 auto;
	}
}

.sidebar-blog-info {
	flex: 1 0 20%;
	padding: 30px 0 0 0;

	@include media-query($on-palm) {
		flex: 1 0 auto;
	}
}

footer {
	flex: 1 0 100%;
	border-top: 3px solid $gray-lighter;
	padding: 30px 0 30px 0;
	@include media-query($on-palm) {
		flex: 1 0 auto;
	}
}
